// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.list-group {
  margin: .5em 0;
  overflow-wrap: break-word;

}

textarea {
  resize:vertical;
}


li.greeting {
  color: #333333;
  margin: 15px;
}


.del-btn {
  float: right;
}