<div class="review-flex">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Review:</h4>
      <p class="card-text">
        <strong>Description: </strong>
        <%= review.description %>
      </p>
      <p class="card-text">
        <strong>Rated: </strong><%= review.rating %>/5
      </p>
    </div>
  </div>
</div>