<div class="col review-col">

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <strong>User review: </strong>
    </li>
    <li class="list-group-item">
      <%= review.description %>
    </li>
    <li class="list-group-item">
      <strong>Rated: </strong>
      <%= review.rating %>/5
    </li>
  </ul>

</div>